.taskCategory{
    padding-left: 2.5rem;
    font-weight: 400;
    cursor: pointer;
}

#taskCategory{
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 200;
    color: #1F557F;
}

#taskCategory :hover{
    color: white;
    text-decoration: underline;
}

#taskCategoryDesc {
    margin-top: 0.5vw;
    margin-left: 1vw;
}

#ubah-taskcategory{
    background: #25A3F6;
    font-weight: 600;
    border-radius: 12px;
    font-family: Lato;
    width: 5rem;
    height: 2rem;   
    color: white;
    font-size: 16px;
    
    border-color: #25A3F6;
}

#hapus-taskcategory{
    margin-top:0.5vw;
    background: #F31414;
    font-weight: 600;
    border-radius: 12px;
    font-family: Lato;
    color: white;
    font-size: 16px;
}

#dueDate-tc{
    font-size: 16px;
    margin-left: 3.2vw;
}

#blue {
    color: #1F557F;
    font-weight: 450;
}