#sidebar {
    height: 100vh;
    position: fixed;
    overflow: auto;
    min-width: 23vw;
    max-width: 23vw;
    background: #ffffff;
    color: black;
    transition: all 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sidebar-menu-container {
    height: 6vh;
    display: flex;
    flex-direction: row;
    position: relative;
    background: white;
    border-color: black;
    box-shadow: 0px 0px 2px 2px rgba(196, 196, 196, 0.75);
    top: 3.35rem;
    align-content: center;
}

#ppms-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

.logo-company-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.logo-company-image {
    flex: 1;
    object-fit: scale-down;
}
  
.logo-company-name-wrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
  
.logo-company-name {
    font-size: 1rem;
    max-lines: 1;
}
  
.logo-company-project-name {
    font-size: 0.4rem;
    max-lines: 1;
}

.sidebar-menu-image {
    justify-content: flex-start;
    object-fit: scale-down;
    padding-left: 3rem;
}

.sidebar-menu-image-container {
    margin-right: 2rem;
}

.sidebar-menu-description {
    font-family: Lato;
    font-style: normal;
    font-size: 1.5rem;
    align-content: center;
    color: #1F557F;
    padding-top: 14px;
    padding-left: 6.6rem;
}

.sidebar-menu-description-active {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    align-content: center;
    color: #1F557F;
    padding-top: 14px;
    padding-left: 6.6rem;
}