.Documents {
    margin-top: 0.5vw;
    margin-left: 0.8vw;
    width: 19.5vw;
    height: 10vw;
    background-color: #FFFFFF;
    border-radius: 1vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 15px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.Documents li a {
    cursor: pointer;
    color: #1F557F;
    word-wrap: break-word;
}

#hapus {
    cursor: pointer;
    color: #FF3456;
    font-weight: 300;
    margin-top: -1.4vw;
    margin-left: 21.5vw;
}
