.Submission {
    margin-left: 76vw;
    margin-top: -43.85vw;
}

.SubmissionExceptCEO {
    margin-left: 76vw;
    margin-top: -54.65vw;
}

#file-sub {
    font-weight: 900;
    font-size: 1.3vw;
    line-height: normal;
    margin-left: 1vw;

    color: #414141;
}

#sub {
    margin-bottom: -10px;
    margin-left: 15px;

    font-weight: 900;
    font-size: 17px;
    line-height: normal;

    color: #414141;
}

#upload {
    width: 320px;
    height: 180px;

    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: 2px;
    padding: 15px;

    color: #000000;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

#line-sub {
    width: 20vw;
    height: 1px;

    margin-top: -0.2vw;
    margin-left: 10px;

    border-color: #FDDB17;
    background: #FDDB17;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#file-upload {
    margin-left: 0.8vw;
    cursor: pointer;
    width: 19.5vw;
    
    background: #F1F1F1;
    border-radius: 1vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#drop {
    position: absolute;
    width: 290px;
    height: 80px;

    margin-left: -2.5px;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 12px;
}

.pointer-none {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

#up {
    width: 45px;
    height: 45px;

    margin-top: 7.5px;
    margin-left: 120px;
    margin-bottom: 5px;
}

#fileUp {
    font-size: 11px;
    font-weight: bold;
    margin-top: 90px;
}

li {
    margin-left: 5px;
}

#fileUp li {
    height: 35px;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

#file {
    color: #000000;
}

#cancel {
    width: 6px;
    height: 6px;
    
    margin-top: -30px;
    margin-left: 268px;
    border-radius: 12px;
}

#svfile {
    width: 101px;
    height: 23px;

    margin-left: 90px;
    margin-top: 10px;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border: 1px solid #B3B3B3;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #B3B3B3;  
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #25A3F6;  
}
