.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  .sidebar-container {
    flex: 1;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 720px) {
    .sidebar-container {
      width: 100%;
      flex: auto;
    }
    .background-container {
      display: none;
    }
  }
  
  .background-container {
    flex: 2;
    width: 66%;
  }
  
  .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  