.feedbackContainer {
    margin-left: 1.5vw;
    margin-top: -1.35vw;
}

#fb-ceo {
    margin-top: 3vw;
    margin-left: 75vw;

    font-weight: 900;
    font-size: 1.3vw;
    line-height: normal;

    color: #414141;
}

#line-ceo {
    width: 20vw;
    height: 1px;
    
    margin-top: -0.2vw;
    margin-bottom: 12vw;
    margin-left: 75vw;

    border-color: #FDDB17;
    background: #FDDB17;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#feedback {
    margin-left: 74vw;
    margin-top: -11.5vw;
}

#byCEO {
    height: 2vw;
    margin-left: 1vw;
    padding-left: 0.8vw;
    padding-top: 0.5vh;
    
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    background: #1F557F;
    border-radius: 7px 7px 0px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#feedback button {
    width: 45%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2.5%;
    border-color: transparent;
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: 600;

    background: linear-gradient(180deg, #00B0FF, #409AEF);
    border-radius: 0.6vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#feedback .card-body, #byCEO,
#current-feedback .card-body {
    width: 20vw;
}

#feedback .card-body {
    padding-top: 0.5vw;
    padding-left: 0.7vw;
}

#feedback #feedback-result {
    margin-top: -0.5vw;
}

.current-feedbackContainer {
    margin-top: -0.85vw;
    margin-left: 2vw;
}

#current-feedback {
    margin-left: 74vw;
    margin-top: -11.4vw;
}

#current-feedback .card-body {
    padding-top: 0.5vw;
    padding-left: 0.7vw;
}

#current-feedback #feedback-result {
    margin-top: -0.5vw;
}
