/*
* Project and Performance Management System
* Grapadi Sejahtera Mandiri
* Copyright 2019-* Tim Propensi A7 Fakultas Ilmu Komputer Universitas Indonesia
*/

:root {
  --light: #FBFBFB;
  --dark: #212529;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

@media (max-width: 575.98px) {
  html {
    font-size: 15px; 
  } 
}

.main-sidebar {
  top: 0;
  position: fixed;
  height: calc(100vh);
  background: #fff;
  z-index: 1070;
  will-change: transform;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.5rem rgba(90, 97, 105, 0.12), 0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1), 0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1); 
  font-family: inherit;
  background: #ffffff;
  height: 100vh;
  width: 17vw;
}

@media (max-width: 767.98px) {
  .main-sidebar {
    transform: translateX(-100%);
    box-shadow: none;
    font-family: inherit;
    background: #ffffff; 
  } 
}

body {
  font-family: Lato;
  background-color: #F1F4FF;
  background-image: url("/src/assets/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}


