#submit-button {
    margin-top: 0.5vw;
    background: #25A3F6;
    font-weight: 600;
    border-radius: 10px;
    font-size: 16px;
    font-family: Lato;
    width: 6rem;   
}

#required-star {
    color: red;
}

#null-message {
    color: red;
    font-family: Lato;
    font-weight: 200;
}