#breadcrumb-container {
    display: block;
    border: 2rem;
    margin-left: 1.5vw;
}

#breadcrumb-container a {
    margin-left: -1.6vw;
    font-weight: 400;
    color: #1F557F;
}

breadcrumbitem {
    font-family: 'Lato';
    font-weight: bold;

}