#submit-button {
    cursor: pointer;
    margin-top: 0.5vw;
    background: #25A3F6;
    font-weight: 600;
    border-radius: 10px;
    font-family: Lato;
    width: 6rem;   
}

#required-star {
    color: red;
}

#null-message {
    color: red;
    font-family: Lato;
    font-weight: 200;
}

button#submit-button.btn.btn-secondary {
    width: 30%;
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 2.5%;
    border-color: transparent;
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: 600;

    background: linear-gradient(180deg, #00B0FF, #409AEF);
    border-radius: 0.6vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
}