.logo-company-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.logo-company-image {
  flex: 1;
  object-fit: scale-down;
}

.logo-company-name-wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logo-company-name {
  font-size: 1rem;
  font-weight: bold;
  max-lines: 1;
}

.logo-company-project-name {
  font-size: 0.8rem;
  max-lines: 1;
}
