.tambahTask {
    padding-top: 1vw;
    padding-left: 1.5vw;
    margin-bottom: 1vw;
    font-weight: 600;
    cursor: pointer;
}

#allTaskCategory {
    height: 10vw;
    margin-left: 1vw;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

#ubah-tc {
    font-weight: normal;
    margin-right: 1rem;
    color: #25A3F6;
    cursor: pointer;
    font-weight: 500;
    margin-left: 50px;
}

#hapus-tc {
    color: #F31414;
    font-weight: normal;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.redirect-title :hover{
    color: #1F557F;
    text-decoration: underline; 
}

#ubah-taskcategory{
    background: #25A3F6;
    font-weight: 600;
    border-radius: 12px;
    font-family: Lato;
    width: 5rem;
    height: 2rem;   
    color: white;
    font-size: 16px;
    
    border-color: #25A3F6;
}

#hapus-taskcategory{
    background: #F31414;
    font-weight: 600;
    border-radius: 12px;
    font-family: Lato;
    width: 5rem;
    height: 2rem;   
    color: white;
    font-size: 16px;
    border-color: #F31414;
}

#button-tambah-tc {
    background: #25A3F6;
    font-weight: 600;
    border-radius: 12px;
    font-family: Lato;
    width: 18rem;
    height: 2rem;   
    color: white;
    
    border-color: #25A3F6;
}