.register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0.25rem 0;
    border: 1px solid gray;
  }
  
  .register-form-group-icon-container {
    flex: 1;
    width: 20%;
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-form-group-icon {
    width: 60%;
    object-fit: fill;
    margin: 0.25rem;
  }
  
  .register-form-group-input {
    flex: 5;
    border: none;
    outline: none;
    margin: 0.25rem;
    width: 100%;
  }
  
  .register-form-group-input:focus {
    outline: none;
  }
  
  .custom-button-manager {
    position: relative;
    border-radius: 1rem;
    background: linear-gradient(180deg, #00b0ff 0%, #409aef 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #ffffff;
    padding: 0.1rem 1.5rem;
    font-weight: bold;
    user-select: none;
    outline: none;
    overflow: hidden;
    border: none;
    width: 400px;
    height: 100px;
    font-size: 28px;
  }

  .custom-button-staff {
    position: relative;
    border-radius: 1rem;
    background: linear-gradient(180deg, #00b0ff 0%, #409aef 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #ffffff;
    padding: 0.1rem 1.5rem;
    font-weight: bold;
    user-select: none;
    outline: none;
    overflow: hidden;
    border: none;
    width: 400px;
    height: 100px;
    font-size: 28px;
  }

  .centered {
      justify-content: center;
      align-items: center;
      font-weight: 800;
      font-family: Lato;
      align-content: center;
  }
  
  .register-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  