.allComments {
    margin-top: 0.5vh;
    margin-left: 18.5vw;
    width: 50.5vw;
    height: 30vw;
    max-height: 25vw;
    
    background: rgba(196, 196, 196, 0.3);
    border-radius: 12px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.Comments {
    position: relative;
    margin-top: 0vw;
    margin-left: 6.2vw;
}

.CommentsCEO {
    position: relative;
    margin-top: -25.5vw;
    margin-left: 6.2vw;
}

#mnj-ceo {
    margin-bottom: -1vh;
    margin-left: 18.5vw;

    font-weight: 900;
    font-size: 1.3vw;
    line-height: normal;

    color: #414141;
}

#linemnj-ceo {
    width: 50.5vw;
    height: 1px;

    margin-left: 18.5vw;
    margin-bottom: 1vh;

    border-color: #FDDB17;
    background: #FDDB17;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}