.Comment {
    outline: hidden;
    margin-top: -0.5vh;
    margin-left: 0.5vw;
    margin-bottom: 5vh;
  }

  #byManager {    
      height: 2vw;  
      width: 48vw;    
      margin-top: 2vh;
      margin-left: 1vw;
      margin-right: 345px;
      padding-left: 0.8vw;
      padding-top: 0.5vh;
      
      color: #FFFFFF;
      font-size: 1vw;
      font-weight: bold;
      background: #95BF44;
      border-radius: 7px 7px 0px 0px;
      transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .card-body {
    height: auto;
    margin-left: 1vw;
    width: 48vw;

    padding-top: 0.4vw;
    padding-left: 0.3vw;
    padding-bottom: 0.2vw;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 7px 7px;  
  }

  #komen, #cmt-dt {
    font-size: 1vw;
    padding-left: 0.7vw;
    word-wrap: break-word;
    color: #000000;
  }

  #cmt-dt {
    font-size: 0.8vw;
    color: rgb(122, 122, 122);
  }
  
  #byStaff {
    height: 2vw;    
    width: 48vw;  
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 345px;
    padding-left: 0.8vw;
    padding-top: 0.5vh;
    
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    background: #FF9441;
    border-radius: 7px 7px 0px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid #B3B3B3;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: #B3B3B3;  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #25A3F6;  
  }
  
  #edit-comment {
    color: #00B0FF;
  }

  #comment-detail {
    cursor: pointer;
    margin-left: 40vw;
    margin-top: -2.2vw;
    font-size: 1vw;
    font-weight: 900;
  }

  #hapus-comment {
    color: #FF3456;
    margin-left: -0.8vw;
  }

strong {
  color: #000000;
}

#cmt-dt strong {
  margin-left: 0.2vw;
}
