.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    width: 100%;
    padding-left: 23vw;
    min-height: 100vh;
    transition: all 0.3s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 9rem;
    padding: 40px 10px;
    background: #F1F4FF;
    border-radius: 0;
    margin-bottom: 40px;
    z-index: 100;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logout-button {
    cursor: pointer;
    margin-top: 1vw;
    margin-left: -9vw;
}

.user-logout {
    font-family: 'Lato';
    font-weight: 600;
}

.col-lg-6 .row {
    margin-left: -16vw;
    margin-right: -20vw;
}

.navbar.navbar-expand-lg.header-navbar {
    height: 7.45vw;
    position: fixed;
    margin-left: 0.1vw;
}