.Task {
    position: absolute;
    margin-left: 24vw;
    margin-top: -42vw;
}

#todo {
    margin-bottom: -1vh;
    margin-left: 1.3vw;

    font-weight: 900;
    font-size: 1.3vw;
    line-height: normal;

    color: #414141;
}

#tambah-task {
    cursor: pointer;
    padding-left: 1.5vw;
}

#linetd {
    width: 50.5vw;
    height: 1px;

    margin-left: 1vw;
    margin-bottom: 1.5vh;

    border-color: #FDDB17;
    background: #FDDB17;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#allTask {
    width: 50.4vw;
    height: 22vh;

    margin-top: 1vh;
    margin-left: 1vw;
    margin-bottom: 1vh;
    padding: 15px;

    color: #000000;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }

    ::-webkit-scrollbar-track {
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
    background: #B3B3B3;  
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: #25A3F6;  
    }

    #btn-plus {
        margin-top: -0.5vw;
        margin-left: -1.1vw;
        margin-bottom: 1.8vh;
        color: #B3B3B3;
    }

    #cb {
        margin-left: 1.5vw;
        margin-right: 1vw;
        margin-bottom: 1vw;
    }
    
    #t {
        margin-top: -0.7vh;
        margin-left: -4vh;
    }
    
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #B3B3B3;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #25A3F6;  
    }

    #edit-task {
        color: #409AEF;
        font-size: 0.8vw;
        font-weight: 600;
        cursor: pointer;
    }

    #hapus-task {
        color: #FF3255;
        font-size: 0.8vw;
        font-weight: 600;
        margin-left: -0.5vw;
        cursor: pointer;
    }
    
    #t-det {
        margin-top: -0.5vh;
        margin-right: 2.5vw;
    }
    