.Review {
    margin-left: 18.1vw;
    margin-top: -25vw;
}

#mnj {
    margin-bottom: -1vh;
    margin-left: 1.1vw;

    font-weight: 900;
    font-size: 1.3vw;
    line-height: normal;

    color: #414141;
}

#linemnj {
    width: 50.5vw;
    height: 1px;

    margin-left: 0.8vw;
    margin-bottom: 1vh;

    border-color: #FDDB17;
    background: #FDDB17;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#comments {
    width: 48.5vw;
    height: 10vh;

    margin-top: 1.5vh;
    margin-left: 1vw;
    margin-bottom: 1vh;
    padding: 10px;

    color: black;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

#comment-box button {
    cursor: pointer;
    width: 5vw;
    height: auto;
    border-color: transparent;
    margin-left: 42.5vw;
    margin-top: -1vh;

    color: #FFFFFF;
    text-align: center;
    font-size: 1vw;
    font-weight: 600;

    background: linear-gradient(180deg, #00B0FF, #409AEF);
    border-radius: 0.6vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#comment-box {
    width: 50.5vw;
    height: 10vw;
    
    font-size: 0.9vw;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 12px;
}

.my-card {
    margin-left: 10px;
}

#null-message-create {
    color: red;
    font-family: Lato;
    font-weight: 200;
    padding-left: 1.5vw;
}
