#bx {
    width: 0.7vw;
    height: 4.5vw;

    background: #25A3F6;
}

.TaskCategoryAttributes {
    position: relative;
    width: 50.9vw;
    height: 4.5vw;
    margin-left: 24.5vw;
    bottom: 43.7vw;
    margin-top: -5vw;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#task {
    margin-top: -4.7vw;
}

#tdetail #task {
    padding-top: 5px;
}

#linetc {
    width: 49.3vw;
    height: 2px;
    
    margin-top: -1vw;
    margin-left: 1.2vw;

    border-color: #FF9441;
    background: #FF9441;
}

#tc {
    padding: 10px 5px;
    margin-left: 1.1vw;

    font-size: 1.1vw;
    font-weight: bold;
}

#dt {
    padding: 5px;
    margin-top: -0.7vw;
    margin-left: 1.1vw;

    font-size: 0.9vw;
}

#due {
    margin-right: 1vw;
}

#stTask {
    padding: 5px;
    margin-top: -6.7vh;
    margin-left: 30vw;

    font-size: 0.9vw;
}

#st {
    margin-right: 1vw;
}
