.button-biru{
    background: #25a3f6;
    border-radius: 20px;
}

#button-biru{
    background-color: #25a3f6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    width: 9vh;
    height: 3vh;
    border-radius: 1vw;
}

#button-merah {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    width: 9vh;
    height: 3vh;
    border-radius: 1vw;
}

#button-tambah-proyek {
    width: 150px;
    background-color: #25a3f6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    width: 15vh;
    height: 2.5vh;
    border-radius: 1vw;
}

.redirect-title {
    font-weight: normal;
    text-decoration: underline; 
}

.redirect-title :hover{
    color: blue;
    text-decoration: underline; 
}

#content-projects  {
    margin-top: 10vw;
}