.chart-container {
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 527px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.project-title {
    position: relative;
    width: 560px;
    height: 137px;
    left: 40px;
    top: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    font-family: 'Lato';
}

.chart {
    position: relative;
    width: 700px;
    height: 400px;
    margin-left: 50px;
}

.table-container {
    position: relative;
    margin-left: 30px;
    margin-top: 60px;
}