#content-event {
    margin-top: 10vw;
}

#button-tambah-event {
    width: 150px;
    background-color: #25a3f6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    width: 15vh;
    height: 2.5vh;
    border-radius: 1vw;
}

#button-biru{
    background-color: #25a3f6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    width: 9vh;
    height: 3vh;
    border-radius: 1vw;
}

#button-merah {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    width: 9vh;
    height: 3vh;
    border-radius: 1vw;
}