.ProjectDetail {
  margin-top: -49vw;
  margin-left: 25vw;
}


.button {
  background-color: #25a3f6;
  border: none;
  color: white;
  padding: 0x;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  
  width: 15vh;
  height: 20vh;
  border-radius: 1vw;
}

  
.badge {
  padding-top: 0.5vw;
  height: 2vw;
  width: auto;
  min-width: 9vw;

  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  margin-left: 1.5vw;
  margin-bottom: 0.5vw;
  border-radius: 12px;
}

#tambah-label {
  height: 2vw;
  width: 9vw;
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  margin-left: 1.5vw;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: #25a3f6;
}

#ubah-label {
  height: 2vw;
  width: 9vw;

  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  margin-left: 1vw;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: #25a3f6;
}

#card-desc-prj {
  padding: 1vw;
  height: 15vw;
  width: 37vw;
  margin-top: -2vw;
  margin-left: 0.5vw;
  border-radius: 12px;
  word-wrap: break-word;
}

#submit-button {
  margin-top: 0.5vw;
  background: #25A3F6;
  font-weight: 600;
  border-radius: 10px;
  font-family: Lato;
  width: 7rem;
  height: 2rem;   
  color: white;
  font-size: 0.7rem;
  border-color: #25A3F6;
}

#desc-prj {
  font-weight: 900;
}

#deskripsi  {
  word-wrap: break-word;
}

#card-prj-detail {
  padding: 1vw;
  height: 15vw;
  width: 17vw;
  margin-left: 0vw;
  margin-top: -2vw;
  border-radius: 12px;
}

#card-prj-detail span {
  font-weight: 600;
}

#card-anggota {
  padding: 1vw;
  height: 15vw;
  width: 17vw;
  margin-left: -1.3vw;
  margin-top: -2vw;
  border-radius: 12px;
}

#anggota-proyek {
  font-weight: 600;
}

.rowCard{
  margin-top: 3vw;
  margin-bottom: 1vw;
}

#content-projectdetail{
    margin-top: 10vw;
    margin-right: 8vw;
}