.listMilestone {
    width: 89.5vw;
    height: 90vh;
    margin-left: -0.5vw;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 1.25%;
    z-index: -10;
    overflow: hidden;
  }
  
  #mst {
  
    font-weight: 500;
    font-size: 1.4vw;
  
    margin-bottom: 2.5vh;
  
    color: #414141;
  }
  
  #create-mst {
    width: 200.5vw;
    height: 8vh;
    margin-left: 0.75vw;
    padding-left: 2vw;
    padding-top: 0.5vh;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #tambah-mst {
    color: #b3b3b3;
    font-size: 1.5vw;
    background-color: #ffffff;
  }
  
  #plus {
    margin-left: 1vw;
    font-size: 2vw;
  }
  
  #allMilestone {
    width: 76.5vw;
    margin-top: 2vh;
    padding-left: 1.45vw;
    padding-top: 0.65vh;
  
  
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .mstContent {
    padding-left: 2vw;
  }
  
  #bx-mst {
    width: 0.75vw;
  
    margin-top: -0.8vh;
    margin-left: -1.5vw;
  
    background: #25a3f6;
  }
  
  #mst-name {
    font-size: 1.25vw;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  #score-mst {
    margin-top: -2.7vh;
    margin-left: 6vw;
    margin-bottom: 1vh;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #progres-mst {
    margin-bottom: 4vh;
    margin-left: 0.6vw;
    width: 68vw;
    font-weight: bold;
  }
  
  #due-mst {
    font-size: 5rem;
    color: #b3b3b3;
    font-weight: bold;
    margin-left: 1rem;

  }
  
  .column {
    margin-top: 2vh;
  }
  
  .menu-popup {
   
    background: white;
    border: 1px solid black;
    width: 120px;
    height: 27px;
  }
  
  #edit-mst {
    margin-top: 1.75vh;
    margin-left: 70.5vw;
    margin-bottom: 0.7vh;
  }
  
  #accordion__heading-0 {
    background-color: transparent;
    outline-color: transparent;
    transform: rotateY(180deg);
  
    margin-left: 33.9vw;
    margin-top: -3.68vh;
    padding: 0px;
  }
  
  #accordion__panel-0 {
    margin-top: 4vh;
    padding: 5px;
    display: inline-table;
    color: #414141;
  }
  
  #add-tc {
    color: #404040;
    font-weight: 600;
    font-size: 1.1vw;
  }
  
  #task {
    margin-top: -1.6vh;
    font-weight: 500;
    font-size: 1.1vw;
  }
  
  #task-name {
    color: #000000;
  }
  
  .accordion__item {
    width: 40vw;
  }
  
  #icon {
    float: right;
    margin-right: 3vh;
    position: relative;
    bottom: -24px;
    right: 20px;
    z-index: 10000000;
  }
  
  #lastupd {
    margin-top: -0.4vh;
    font-weight: 300;
    font-size: 0.75vw;
  }
  
  #score-tc {
    margin-top: 2vh;
    margin-left: 59.5vw;
  }
  
  .react-sweet-progress-symbol {
    font-size: 0.9vw;
  }
  
  #hps-mst {
    width: 1.2vw;
    height: auto;
    margin-left: 68vw;
    margin-top: -7.6vh;
  }
  
  #ubah-milestone {
    margin-top: 0.5vw;
    background: #25A3F6;
    font-weight: 600;
    border-radius: 12px;
    font-family: Lato;
    width: 5rem;
    height: 2rem;   
    color: white;
    font-size: 16px;
    
    border-color: #25A3F6;
    margin-top: 1vw;
    margin-left: 13.5vw;
    position: relative;
  }

  #hapus-milestone {
    margin-top:0.5vw;
    background: #F31414;
    font-weight: 600;
    border-radius: 12px;
    font-family: Lato;
    width: 5rem;
    height: 2rem;   
    color: white;
    font-size: 16px;
    margin-right: 1vw;
    margin-top: 1vw;
    border-color:#EE0404;
    margin-left: 14vw;
    position: absolute;
  }

  .barisTaskCategory{
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav-link {
    margin-left: 13.5vw;
    margin-top: 0.8vw;
  }