.search-input {
    display: block;
    padding-top: 6rem;
    padding-left: 0.85vw;
}

.search-input-show {
    display: block;
    padding-top: 10vw;
    padding-left: 2.1vw;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 40rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.project-option {
    display: flex;
    align-items: center;
    width: 40rem;
    height: 2rem;
    border: 1px solid #E5E6EC;
    text-align: left;
    color: black;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
}

.project-option-show {
    display: flex;
    align-items: center;
    width: 40rem;
    height: 2rem;
    border: 1px solid #E5E6EC;
    text-align: left;
    color: black;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
}

.project-option:hover {
    background: linear-gradient(180deg, #00B0FF 0%, #409AEF 100%);
}

.project-option-show:hover {
    background: linear-gradient(180deg, #00B0FF 0%, #409AEF 100%);
}