.listMilestone {
    width: 89.5vw;
    height: 90vh;
    margin-left: -0.5vw;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 1.25%;
    z-index: -10;
    overflow: hidden;
  }
  
  #mst {
  
    font-weight: 500;
    font-size: 1.4vw;
  
    margin-bottom: 2.5vh;
  
    color: #414141;
  }
  
  .create-mst {
    width: 72.2vw;
    height: 8vh;
    margin-right: 0vw; 
    margin-bottom: 2vw;
    margin-top: -0.3vw;
    margin-left: 0.4vw;
    padding-left: 1vw;
    padding-top: 1.2vw;

    font-weight: 1200;
    font-family: Lato;
    color: #b3b3b3;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px  rgba(25, 68, 157, 0.25);
    cursor: pointer;
  }
  
  #milestone {
    margin-left: 1.2vw;
    margin-top: -1vw;
    font-weight: 400;
  }
  
  #allMilestone {
    width: 72.2vw;
    margin-top: 2vh;
    margin-left: 0.15vw;
    padding-left: 1.45vw;
    padding-top: 0.65vh;
  
  
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px  rgba(25, 68, 157, 0.25);
  }
  
  .mstContent {
    padding-left: 2vw;
  }
  
  #bx-mst {
    width: 0.75vw;
  
    margin-top: -0.8vh;
    margin-left: -1.5vw;
  
    background: #25a3f6;
  }
  
  #mst-name {
    font-size: 1.25vw;
    margin-top: 0.3vw;
  }
  
  #score-mst {
    margin-top: -2.7vh;
    margin-left: 6vw;
    margin-bottom: 1vh;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #progres-mst {
    margin-bottom: 4vh;
    margin-left: 0.6vw;
    width: 68vw;
    font-weight: bold;
  }
  
  #due-mst {
    font-size: 0.85vw;
    color: #b3b3b3;
  }
  
  .column {
    margin-top: 2vh;
  }
  
  .menu-popup {
   
    background: white;
    border: 1px solid black;
    width: 120px;
    height: 27px;
  }
  
  #edit-mst {
    margin-top: 1.75vh;
    margin-left: 70.5vw;
    margin-bottom: 0.7vh;
  }
  
  #accordion__heading-0 {
    background-color: transparent;
    outline-color: transparent;
    transform: rotateY(180deg);
  
    margin-left: 33.9vw;
    margin-top: -3.68vh;
    padding: 0px;
  }
  
  #accordion__panel-0 {
    margin-top: 4vh;
    padding: 5px;
    display: inline-table;
    color: #414141;
  }
  
  #add-tc {
    color: #404040;
    font-weight: 600;
    font-size: 1.1vw;
  }
  
  #task {
    margin-top: -1.6vh;
    font-weight: 500;
    font-size: 1.1vw;
  }
  
  #task-name {
    color: #000000;
  }
  
  .accordion__item {
    width: 40vw;
  }
  
  #icon {
    float: right;
    margin-right: 3vh;
    position: relative;
    bottom: -24px;
    right: 20px;
    z-index: 10000000;
  }
  
  #lastupd {
    margin-top: -0.4vh;
    font-weight: 300;
    font-size: 0.75vw;
  }
  
  #score-tc {
    margin-top: 2vh;
    margin-left: 59.5vw;
  }
  
  .react-sweet-progress-symbol {
    font-size: 0.9vw;
  }
  
  #hps-mst {
    width: 1.2vw;
    height: auto;
    margin-left: 68vw;
    margin-top: -7.6vh;
  }
  
  .tambah {
    margin: 0vw;
  }

  .rowMilestone{
    margin-bottom: 8vw;

  }
