body {
    background-color: #F1F4FF;
}

.search-bar {
    padding-top: 190px;
    padding-left: 1.75rem;
}

.preview-button {
    position: relative;
    width: 180px;
    height: 34px;
    border-radius: 1rem;
    background: #FF9441;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #ffffff;
    font-weight: bold; 
}

.preview-button-container{
    display: block;
    margin-top: 12rem;
    margin-left: 11.7rem;
}

.container {
    display: flex;
    flex-direction: row;
}

.company-description-container {
    display: flex;
}

.content-container {
    display: flex;
    order: 2;
    flex-direction: column;
    height: 100%;
    background: #F1F4FF;
}

.table-summary{
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}